{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{%- style -%}
  #Banner-{{ section.id }}::after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
  }
{%- endstyle -%}
{% assign blockcounter = 0 %}
<div style="position: relative;width:100%;overflow: hidden;">
<div id="Banner-{{ section.id }}" class="banner banner--content-align-mobile-{{ section.settings.mobile_content_alignment }} banner--{{ section.settings.image_height }}">
  {%- for block in section.blocks -%}
    <div class="banner__media media{% if block.settings.image == blank %} placeholder{% endif %} image_slider_block 
    image_slider_{{ section.id }}"  id="{{ block.id }}"
    {% if blockcounter == 0 %} style="display: block;" {% endif %}>
      {% unless block.settings.image == blank %}
      {%-liquid
        assign image_height = block.settings.image.width | divided_by: block.settings.image.aspect_ratio
          assign sizes = "100vw"
      -%}
      {{ block.settings.image | image_url: width: 1500 | image_tag:
        loading: 'lazy',
        width: block.settings.image.width,
        height: image_height,
        sizes: sizes,
        widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
        alt: block.settings.image.alt | escape
      }}
      {% endunless %}
      {% unless section.settings.store_logo == blank %}
      <div class="floating_store_logo_mbl">
        <div>
          <img loading="lazy" src="{{ section.settings.store_logo | image_url: width: 300 }}" width="auto" height="auto" />
        </div>
      </div>
      {% endunless %}
    </div>
    {%- liquid 
      if blockcounter < 1
       assign imageslider_properties = block.settings.image 
      endif 
    -%}
    {% assign blockcounter = blockcounter | plus: 1 %}
    {%- endfor -%}

    {% unless blockcounter < 2 %}
      {% assign blockcounter2 = 0 %}
      <div class="slider_ctrl_container sld-crtl-{{ section.id }}">
        {%- for block in section.blocks -%}
          <span data-block="{{ block.id }}" data-slidernum="{{ blockcounter2 }}" data-section="{{ section.id }}" class="slider_ctrl  {% if blockcounter2 < 1 %} active_slider{% endif %}"></span>
          {% assign blockcounter2 = blockcounter2 | plus: 1 %}
        {%- endfor -%}
      </div>
    {% endunless %}
    {% unless section.settings.store_logo == blank %}
    
    {% endunless %}
</div>
</div>
  {%- style -%}
  @media screen and (max-width: 749px) {
    #Banner-{{ section.id }}::before,
    #Banner-{{ section.id }} .banner__media::before,
    #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
      padding-bottom: {{ 1 | divided_by: imageslider_properties.aspect_ratio | times: 100 }}%;
      content: '';
      display: block;
    }
    
  }
  {%- endstyle -%}
<script>
  
  const  dots = document.querySelectorAll(".slider_ctrl");
 
  dots.forEach(function(elem) {
    elem.addEventListener("click", function() {
     
      var datablocknum = elem.getAttribute('data-slidernum');
      var datasection = elem.getAttribute('data-section');
      let sliders = document.getElementsByClassName("image_slider_" + datasection);
      var slidescontainer = document.getElementById("Banner-"+ datasection);
      var dotcontainer = document.querySelector(".sld-crtl-"+ datasection);
      
      var slidesto = (parseInt(datablocknum)) * -100;
      var dotsto = ((parseInt(datablocknum)) * 100) + 100;
      let dots = document.querySelectorAll('[data-section="'+ datasection +'"]');
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active_slider", "");
      }
      elem.classList.add("active_slider");
      dotcontainer.style.width = dotsto + "vw";
      slidescontainer.style.transform = "translate3d(" + slidesto +"vw, 0, 0)";
    });
  });
</script>

{% schema %}
{
  "name": "Image banner slider",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
      "default": 0
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "small",
          "label": "t:sections.image-banner.settings.image_height.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-banner.settings.image_height.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-banner.settings.image_height.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-banner.settings.image_height.label",
      "info": "t:sections.image-banner.settings.image_height.info"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.image-banner.settings.color_scheme.info"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.header.content"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.mobile_content_alignment.label"
    },
    {
      "type": "image_picker",
      "id": "store_logo",
      "label": "Store logo",
      "info": "Add floating logo on mobile"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Image on slide",
      "limit": 10,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ]
}
{% endschema %}
