{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

<link rel="preload" href="{{ 'component-rte.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

{%- if section.settings.enable_quick_add -%}
  <link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
{%- liquid
  assign sort_by = collection.sort_by 

-%}

<div class="section-{{ section.id }}-padding">
  {% comment %} Sort is the first tabbable element when filter type is vertical {% endcomment %}
  {%- if section.settings.enable_filtering -%}
  {% if section.settings.filter_tag != blank %}
  {% assign filterTags = section.settings.filter_tag | split: ", " %}
  <!---mobile filtering-->
<div class="col-filtering-mbl" id="mobile_filter">
  <div class="col-fltrng-container" >
    <div class="col-filtering-items" style="justify-content: space-between;">
      <p>Filter by:</p> <span class="close_filtering"> {% render "icon-close" %} </span></div>
    {% for itemtags in filterTags %}
    <div class="col-filtering-items">
      <input class="mobileFltrinput" type="radio" id="mbl{{ itemtags | handleize }}" name="{{ itemtags }}" value="{{ itemtags | handleize }}">
      <label for="{{ itemtags }}">{{ itemtags }}</label>
    </div>
  {% endfor %}
  </div>
</div>
<!---mobile sorting-->
<div class="col-filtering-mbl" id="mobile_sorting">
  <div class="col-fltrng-container" >
    <div class="col-filtering-items" style="justify-content: space-between;">
      <p>Sort by:</p> <span class="close_sorting"> {% render "icon-close" %} </span></div>
   
    <div class="col-filtering-items">
      <input name="price-high-low" class="mobilesrtinput" type="radio" value="5">
      <label for="price-high-low">Price +/- </label>
    </div>
    <div class="col-filtering-items">
      <input name="price-low-high"  class="mobilesrtinput" type="radio" value="4">
      <label for="price-low-high">Price -/+ </label>
    </div>
    <div class="col-filtering-items">
      <input name="az" class="mobilesrtinput" type="radio" value="2">
      <label for="az">A—Z </label>
    </div>
    <div class="col-filtering-items">
      <input name="az"  class="mobilesrtinput" type="radio" value="3">
      <label for="za">Z—A </label>
    </div>
    <div class="col-filtering-items">
      <input name="new-old" class="mobilesrtinput" type="radio" value="7">
      <label for="new-old">New 2 Old </label>
    </div>
    <div class="col-filtering-items">
      <input name="old-new" class="mobilesrtinput" type="radio" value="6">
      <label for="old-new">Old 2 New </label>
    </div>
    <div class="col-filtering-items">
      <input  name="best-selling" class="mobilesrtinput" type="radio" value="1">
      <label for="best-selling">Best Selling </label>
    </div>
  </div>
</div>
<!---end of mobile sorting-->
<h3 id="filter_heading_mbl"></h3>
  <div class="filter_container">
    <div class="filter_wrapper">
      <div>
        <label class="filter-name">Filter by:</label>
      </div>
      <div>
        <ul class="filter_row">
          {% for itemtags in filterTags %}
          <li data-filtervalue="{{ itemtags | handleize }}" id="{{ itemtags | handleize }}" class="filter_item">
            {{ itemtags }}
          </li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  {% endif %}
  {%- endif -%}
  {%- if section.settings.enable_sorting -%}
  <div class="sort_container">
    <div class="sort_wrapper">
      <div>
        <label class="sort-name">Sort by:</label>
      </div>
      <div>
        <ul class="sort_row">
          <li data-sortvalue="5" class="sort_item {% if sort_by == "price-descending" %} sort_active {% endif %}">
            Price +/-
          </li>
          <li data-sortvalue="4" class="sort_item {% if sort_by == "price-ascending" %} sort_active {% endif %}">
            Price -/+
          </li>
          <li data-sortvalue="2" class="sort_item {% if sort_by == "title-ascending" %} sort_active {% endif %}">
            A—Z
           </li>
           <li data-sortvalue="3" class="sort_item {% if sort_by == "title-descending" %} sort_active {% endif %}">
            Z—A
           </li>
           <li data-sortvalue="7" class="sort_item {% if sort_by == "created-descending" %} sort_active {% endif %}">
            New 2 Old
            </li>
            <li data-sortvalue="6" class="sort_item {% if sort_by == "created-ascending" %} sort_active {% endif %}">
              Old 2 New
            </li>
            <li data-sortvalue="1" class="sort_item {% if sort_by == "best-selling" %} sort_active {% endif %}">
              Best Selling
            </li>
        </ul>
      </div>
    </div>
  </div>
  {%- endif -%}

  <div class="{% if section.settings.filter_type == 'vertical' %} facets-vertical page-width{% endif %}">
    {{ 'component-facets.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
    {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
      <aside aria-labelledby="verticalTitle" class="facets-wrapper{% unless section.settings.enable_filtering %} facets-wrapper--no-filters{% endunless %}{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}" id="main-collection-filters" data-id="{{ section.id }}">
        {% render 'facets', results: collection, enable_filtering: section.settings.enable_filtering, enable_sorting: section.settings.enable_sorting, filter_type: 'horizontal' %}
      </aside>
    {%- endif -%}

    <div class="product-grid-container" id="ProductGridContainer">
      {%- paginate collection.products by section.settings.products_per_page -%}
        {%- if collection.products.size == 0 -%}
          <div class="collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
            <div class="loading-overlay gradient"></div>
            <div class="title-wrapper center">
              <h2 class="title title--primary">
                {{ 'sections.collection_template.empty' | t }}<br>
                {{ 'sections.collection_template.use_fewer_filters_html' | t: link: collection.url, class: "underlined-link link" }}
              </h2>
            </div>
          </div>
        {%- else -%}
          <div class="collection">
            <div class="loading-overlay gradient"></div>
    
            <ul id="product-grid" data-id="{{ section.id }}" class="
              grid product-grid grid--{{ section.settings.columns_mobile }}-col-tablet-down
              grid--{{ section.settings.columns_desktop }}-col-desktop">
              {%- for product in collection.products -%}
                {% assign lazy_load = false %}
                {%- if forloop.index > 2 -%}
                  {%- assign lazy_load = true -%}
                {%- endif -%}
                <li class="grid__item">
                  {% render 'card-product',
                    card_product: product,
                    media_aspect_ratio: section.settings.image_ratio,
                    show_secondary_image: section.settings.show_secondary_image,
                    show_vendor: section.settings.show_vendor,
                    show_rating: section.settings.show_rating,
                    lazy_load: lazy_load,
                    show_quick_add: section.settings.enable_quick_add,
                    section_id: section.id

                  %}
                </li>
              {%- endfor -%}
            </ul>
    
            {%- if paginate.pages > 1 -%}
              {% render 'pagination', paginate: paginate, anchor: '' %}
            {%- endif -%}
          </div>
        {%- endif -%}
      {%- endpaginate -%}
    </div>
  </div>
</div>

<script>
  document.querySelector(".close_filtering").addEventListener("click", closeFiltering);
  document.querySelector(".close_sorting").addEventListener("click", closeFiltering);
  function closeFiltering(){
    let fltr_container = document.getElementById("mobile_filter");
    fltr_container.style.top = "-100%";
    let srtcontainer = document.getElementById("mobile_sorting");
    srtcontainer.style.top = "-100%";
  }
 window.onload = function(){ 
   let filteringtag = "{{ current_tags }}";
   let filterItem = document.querySelector("#"+ filteringtag +"");
   filterItem.classList.add("filter_active");
   let filterItem2 = document.querySelector("#mbl"+ filteringtag +"");
   filterItem2.checked= true;
   document.getElementById("filter_heading_mbl").innerHTML = filterItem2.name;
}
  let sortitems = document.querySelectorAll(".sort_item").forEach(item => {
  item.addEventListener('click', event => {
    let newsort = item.getAttribute("data-sortvalue");
    let sortselect = document.getElementById("SortBy");
    let sortsubmit = document.getElementById("submitSort");
    sortselect.selectedIndex = newsort;
    sortsubmit.click();
   
  })
});
let sortitems2 = document.querySelectorAll(".mobilesrtinput").forEach(sortitem => {
  sortitem.addEventListener('click', event => {
    let newsort = sortitem.value;
    let sortselect = document.getElementById("SortBy");
    let sortsubmit = document.getElementById("submitSort");
    sortselect.selectedIndex = newsort;
    sortsubmit.click();
   
  })
});
let filteritems = document.querySelectorAll(".filter_item").forEach(filtertag => {
  filtertag.addEventListener('click', event => {
    let newfilter = filtertag.getAttribute("data-filtervalue");
    let currentag = "{{ current_tags }}";
    if (currentag == newfilter){
      document.location.href = '/collections/{{ collection.handle }}';
    }else{
      document.location.href = '/collections/{{ collection.handle }}/' + newfilter;
    }
   
  })
});
let filteritemsmbl = document.querySelectorAll(".mobileFltrinput").forEach(mblfilter => {
  mblfilter.addEventListener('click', event => {
    let newfilters = mblfilter.value;
    let currentag = "{{ current_tags }}";
    if (currentag == newfilters){
      document.location.href = '/collections/{{ collection.handle }}';
    }else{
      document.location.href = '/collections/{{ collection.handle }}/' + newfilters;
    }
   
  })
});
</script>
{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 24,
      "step": 4,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.main-collection-product-grid.settings.columns_desktop.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "textarea",
      "id": "filter_tag",
      "label": "Tag list (use comma to separate tags)",
      "default": "New, Most Wanted"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}