<style>
  .recom-section-name{
    font-size: calc(var(--font-heading-scale) * 4rem);
    margin: 0;
  }
  .product-card {
    box-sizing: border-box;
    min-height: 1em;
    vertical-align: top;
    width: 25%;
    text-decoration: none;
    outline: none;
  }
.product-card img{
  border: 1px solid #222;
}
  .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }
  .scroll-recos-on-mobile{border-bottom: #222 1px solid;}
  .section-recommendation{padding: 0 10px;}
  .mobile-recos{display: none;}
   @media only screen and (max-width: 470px){
    .desktop-recos{display: none;}
    .mobile-recos{display: inline-block;}
    .related-products-div{width: 300%;}
    .recom-section-name{max-width: 80%;}
    .scroll-recos-on-mobile{max-width: 100%;overflow: scroll;}
    .scroll-recos-on-mobile::-webkit-scrollbar{width: 0px;background: transparent;}
   }
</style>
<section class="section-recommendation">
{%-liquid assign counter = 0 
 assign break_at = section.settings.number_of_products | plus: 0 
 assign current_product = product -%}

{%- capture related_items -%}
  {%- for product in collections.all.products -%}
    {%- unless product.handle == current_product.handle -%}

      {%- if product.tags contains section.settings.related_tag -%}
        <a href="{{ product.url | within: collection }}" class="product-card">
          <img class="desktop-recos" src="{{ product.featured_image.src | image_url: width: 150 }}" height="auto" width="auto" loading="lazy">
          <img class="mobile-recos" src="{{ product.featured_image.src | image_url: width: 280 }}" height="auto" width="auto" loading="lazy">
        </a>

        {%-liquid assign counter = counter | plus: 1 -%}

        {%- if counter == break_at -%}
          {%- break -%}
        {%- endif -%}

      {%- endif -%}

    {%- endunless -%}
  {%- endfor -%}
{%- endcapture -%}

{%- assign related_items = related_items -%}
{%- unless related_items == blank -%}
  <aside>
    {%- if section.settings.heading -%}
      <h1 class="recom-section-name">{{ section.settings.heading }}</h1>
    {%- endif -%}
<div class="scroll-recos-on-mobile">
  <div class="related-products-div" style="padding: 10px 0;">
    {{ related_items }}
  </div>
</div>
  </aside>
{%- endunless -%}
</section>
{% schema %}
{
  "name": "Manual suggestions",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Recommended products"
    },
    {
      "type": "text",
      "id": "related_tag",
      "label": "Tag",
      "info": "The tag determines which products show as related products."
    },
    {
      "type": "select",
      "id": "number_of_products",
      "label": "Number of products to show",
      "default": "6",
      "options": [
        {
          "value": "6",
          "label": "6"
        },
        {
          "value": "8",
          "label": "8"
        },
        {
          "value": "12",
          "label": "12"
        }
      ]
    }
  ]
}
{% endschema %}